.idea
.vscode
.env
.env*
./back

/back/config/secrets/prod/prod.decrypt.private.php
/back/public/bundles/
/back/var/
/back/vendor/
/back/db-data-postgres
/back/config/jwt
/back/.env
/back/.env*
/back/.idea

/front/.vscode
/front/build
/front/node_modules
/front/package-lock.json

db-data-postgres